.center {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
    flex-flow: column wrap;
    padding: 0 0 1rem 0;
}

.lightText {
    color: rgb(130, 130, 130);
    font-size: 0.85rem;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

li.navbar {
    float: left;
}

li a.navbar {
    display: block;
    color: white;
    text-align: center;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.galleryItem {
    background-color: rgb(235, 235, 235);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    padding: 1rem;
}

.noLinkStyle {
    color: inherit;
    text-decoration: none;
}

.noLinkStyle:hover {
    color: inherit;
    text-decoration: none;
}

.artworkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.artworkItem {
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artworkImage {
    width: 30vmax;
}

.fileUpload {
    width: 33vmax;
}